<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div fxFlex="50%">
      <h3>Dog Station App</h3>
    </div>
    <div fxFlex="50%" class="button-row" fxLayoutAlign="end">
      <button mat-raised-button (click)="makeInstantDog()">New instant dog!</button>
      <button mat-raised-button [disabled]="dogStationStatus" (click)="makeDelayedDog()">New delayed dog</button>
      <button mat-raised-button (click)="deleteAll()">Release them all!</button>
      <button mat-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

<mat-progress-bar *ngIf="dogStationStatus" mode="indeterminate"></mat-progress-bar>

<div fxLayout="column" fxLayoutAlign="center center">
  <br>
  <app-dog-lister></app-dog-lister>
</div>





